.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



input[type=submit], button{
  font-family: 'Times New Roman', Times, serif;
  background-color: #9c89e7;
  font-size:medium;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
}

input[type=text]{
  font-family: 'Comic Sans', Tahoma, sans-serif;
  font-size: large;
  width: 50%;
  background-color: #a957d6;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
}

.output-text {
  font-size: large;
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 20px;
}

.question {
  border: #9c89e7;
  background-color: aqua;
}
